@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  --font: 'Josefin Sans', sans-serif;
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
}

svg {
  pointer-events: none;
}

header {
  font-family: var(--font);
  height: 100vh;
  max-width: 480px;
  overflow: hidden;
  background: linear-gradient(135deg, white, #fff5f5);
}

nav {
  padding: 1em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.hero-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-text {
  margin-top: 1em;
  max-width: 480px;
  padding: 1em;
}

.hero-text h1 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
  color: var(--DarkGrayishRed);
}

.hero-text h1 #title {
  display: block;
  font-weight: 300;
  color: var(--DesaturatedRed);
}

article {
  max-width: 480px;
  font-size: 1rem;
  text-align: center;
  color: var(--DesaturatedRed);
}

article p {
  font-weight: 400;
}

form {
  max-width: 480px;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .email {
  width: 100%;
  position: relative;
  padding: 0 1em;
  height: 60px;
}

input {
  width: 100%;
  max-width: 380px;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid var(--DesaturatedRed);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-radius: 50px;
  padding: 1em;
}

input:focus {
  -webkit-box-shadow: 0 0 10px royalblue;
          box-shadow: 0 0 10px royalblue;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
  color: var(--DesaturatedRed);
  font-weight: 600;
  font-size: 0.9rem;
}

:-ms-input-placeholder {
  text-transform: capitalize;
  color: var(--DesaturatedRed);
  font-weight: 600;
  font-size: 0.9rem;
}

::-ms-input-placeholder {
  text-transform: capitalize;
  color: var(--DesaturatedRed);
  font-weight: 600;
  font-size: 0.9rem;
}

::placeholder {
  text-transform: capitalize;
  color: var(--DesaturatedRed);
  font-weight: 600;
  font-size: 0.9rem;
}

.icon {
  position: absolute;
  right: 120px;
  top: 15px;
  display: none;
}

#subscribe {
  display: inline-block;
  padding: 1em 3em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(#ce9797), to(#f96262));
  background: linear-gradient(to bottom, #ce9797, #f96262);
}

small {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--SoftRed);
  text-align: left;
  padding: 1em;
}

.error {
  border-color: var(--SoftRed);
}

.show {
  display: inline-block;
}

@media screen and (min-width: 1110px) {
  header {
    max-width: 1440px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: top 0px right 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 80px;
  }
  .hero-text {
    -ms-grid-row: 2;
    grid-row: 2/2;
    padding: 4em;
    width: 100%;
    max-width: 900px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero-text h1 {
    text-align: left;
    font-size: 3rem;
  }
  .hero-text #soon {
    display: block;
  }
  .hero-text article {
    max-width: 400px;
    text-align: left;
  }
  .hero-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  #subscribe {
    right: 10px;
  }
  form {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 2em;
  }
}
/*# sourceMappingURL=style.css.map */