@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --font: 'Josefin Sans', sans-serif;

    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    line-height: 1.5;
}

svg {
    pointer-events: none;
}

header {

    font-family: var(--font);
    height: 100vh;
    max-width: 480px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

}

nav {
    padding: 2em;

}

.hero-img {

    img {
        width: 100%;
        object-fit: cover;

    }
}

.hero-text {
    margin-top: 1em;
    max-width: 480px;




    h1 {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 2.5rem;

        width: 100%;
        letter-spacing: 14px;
        color: var(--DarkGrayishRed);

        #title {
            display: block;
            font-weight: 300;

            color: var(--DesaturatedRed);
        }

        #soon {
            display: block;

        }
    }
}

article {
    max-width: 480px;
    font-size: 1rem;
    padding: 0.5em;
    text-align: center;

    color: var(--DesaturatedRed);

    p {
        font-weight: 400;
        line-height: 1.8;
    }
}


form {
    max-width: 480px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;



    .email {
        width: 100%;
        position: relative;
        padding: 0 1em;
        height: 50px;

    }
}

input {
    width: 100%;
    max-width: 480px;
    height: 50px;
    appearance: none;
    border: 1px solid var(--DesaturatedRed);
    transition: all 0.5s ease-in;

    border-radius: 50px;
    padding: 1em;

    &:focus {
        box-shadow: 0 0 10px royalblue;
    }

}

::placeholder {
    text-transform: capitalize;
    color: var(--DesaturatedRed);
    font-weight: 600;
    font-size: 0.9rem;

}

.icon {
    position: absolute;
    right: 100px;
    top: 15px;
    display: none;
}

#subscribe {
    display: inline-block;
    padding: 0.5em 2em;
    appearance: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    border-radius: 30px;
    height: 100%;
    box-shadow: 0 5px 10px -5px rgba($color: #000000, $alpha: 0.6);
    background: linear-gradient(to right, #f5aeae, hsl(0, 93%, 68%));


    &:hover {
        box-shadow: 0 5px 10px -5px rgba($color: #000000, $alpha: 1);

    }
}

small {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--SoftRed);
    text-align: left;
    padding: 1em;
}

//error
.error {
    border-color: var(--SoftRed);
}

.show {
    display: inline-block;
}




@media screen and (min-width:1110px) {
    header {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 600px;
        grid-template-rows: auto 1fr auto;
        background-size: cover;
        background-position: center;
        background-image: url(../images/bg-pattern-desktop.svg);
        // background-position: top 0px right 100px;
        background-repeat: no-repeat;
        overflow: hidden;





    }

    nav {
        grid-row: 1/2;



        padding: 2em 4em;

    }

    .hero-text {

        grid-row: 2/2;
        max-width: 700px;

        align-self: center;
        margin-left: 4em;




        h1 {
            text-align: left;
            font-size: 3rem;

        }

        #soon {
            display: block;
        }

        article {
            max-width: 500px;
            text-align: left;

        }
    }

    .hero-img {
        grid-column: 2/3;
        grid-row: 1/4;




    }

    #subscribe {
        right: 10px;
        padding: 0.5em 3em;
    }

    .icon {
        right: 110px;
    }

    form {
        margin-top: 0;
        margin-bottom: 1em;
        padding: 2em;

    }

}